*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    display: flex;
    justify-content: center;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .table-container {
    width: 80%;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #c4c4c4;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: rgb(238, 238, 162);
  }

.Align{
    display: flex;
    justify-content: end;
}

.add{
    border-radius: 5px;
    width: 65px;
    height: 30px;
    background-color: white;
}
.add:hover{
    background-color: turquoise;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.delete{
    border-radius: 5px;
    width: 60px;
    height: 30px;
    background-color: white;
}

.delete:hover{
    background-color: rgb(228, 105, 105);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.update{
  border-radius: 5px;
  width: 60px;
  height: 30px;
  background-color: white;
}

.update:hover{
  background-color: rgb(205, 240, 111);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.buy{
  border-radius: 5px;
  width: 70px;
  height: 30px;
  background-color: white;
  text-align: center;
}

.buy:hover{
  background-color: rgb(35, 231, 28);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logoff{
  border-radius: 5px;
  width: 65px;
  height: 30px;
  background-color: white;
}
.logoff:hover{
  background-color: rgb(231, 61, 61);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}